extends layout

block content
  div.container
    div.jumbotron.bg-secondary.text-light.text-center
      h1 Kripya Apna Record Edit Kre !
    div(style="margin: 0 20%;") 
      form(action="/update?id="+query method="post" enctype="multipart/form")
        div.form-group
          input.form-control(type="text" name='name' placeholder='Enter your name')
        div.form-group
          input.form-control(type="password" name='password' placeholder='Enter your password')
        div.form-group
          input.form-control(type="text" name='email' placeholder='Enter your email')
        div.form-group
          input.form-control(type="text" name='mobile' placeholder='Enter your mobile')
        div.form-group.row
          input.form-control.btn-secondary(type="submit")
          
